// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: darkblue;
  font-weight: bold;
}
